Repository nudibranches-tech/hyperfluid-sdk-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --timeout=5m ./...
        language: system
        types: [go]
        # For local use, ensure golangci-lint is installed globally:
        # go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.55.2
        pass_filenames: false
-   repo: local
    hooks:
    -   id: go-fmt
        name: go-fmt
        entry: gofmt -w
        language: system
        types: [go]
    -   id: go-vet
        name: go-vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false
    -   id: go-mod-tidy
        name: go-mod-tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: go.mod

refact: rename module
  PROGRESSIVE_API.md
  README.md
  go.mod
  integration_tests/integration_test.go
  integration_tests/testhelper_test.go
  sdk/auth.go
  sdk/client.go
  sdk/client_test.go
  sdk/progressive_builders.go
  sdk/query_builder.go
  sdk/query_builder_test.go
  sdk/request.go
  usage_examples/fluent_api_examples.go
  usage_examples/progressive_api_examples.go
Due: golangci-lint, go-fmt, go-vet, go-mod-tidy

refact: update module name
  integration_tests/integration_test.go
  sdk/auth.go
  sdk/client_test.go
  sdk/progressive_builders.go
  sdk/query_builder.go
  sdk/query_builder_test.go
  sdk/request.go
  usage_examples/fluent_api_examples.go
  usage_examples/progressive_api_examples.go
Due: golangci-lint, go-fmt, go-vet

refact: create folders to avoid putting all logic into one file
  .gitignore
  sdk/builders/common.go
  sdk/builders/fluent/query.go
  sdk/builders/fluent/query_test.go
  sdk/builders/fluent/search.go
  sdk/builders/progressive/catalog.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/harbor.go
  sdk/builders/progressive/org.go
  sdk/builders/progressive/schema.go
  sdk/builders/progressive/search.go
  sdk/builders/progressive/table.go
  sdk/builders/types.go
  sdk/client.go
  sdk/client_test.go
  sdk/progressive_builders.go
  sdk/request.go
  sdk/utils/types.go
  usage_examples/fluent_api_examples.go
  usage_examples/main.go
  usage_examples/progressive_api_examples.go
Due: golangci-lint, go-fmt, go-vet

update test to match new architecture
  sdk/builders/fluent/query_test.go
  sdk/client_test.go
Due: golangci-lint, go-fmt, go-vet

feat[utils/errors]: add API error
  sdk/utils/errors.go
Due: golangci-lint, go-fmt, go-vet

refact[fluent/search]: update search query so sdk handles response
  sdk/builders/fluent/search.go
  usage_examples/fluent_api_examples.go
Due: golangci-lint, go-fmt, go-vet

refact[s3_builder]: clean up error handling
  sdk/builders/fluent/s3_builder.go
Due: golangci-lint, go-fmt, go-vet

feat[fluent]: add s3 builder for querying and listing files in MinIO. Implement static method whilst waiting for STS bugfix
  go.mod
  go.sum
  sdk/builders/fluent/s3_builder.go
  sdk/client.go
  sdk/utils/types.go
  usage_examples/fluent_api_examples.go
  usage_examples/main.go
Due: golangci-lint, go-fmt, go-vet, go-mod-tidy

deps: add oapi-codegen tool
  go.mod
  go.sum
Due: go-mod-tidy

feat: add control plane generated client
  Justfile
  go.mod
  go.sum
  sdk/controlplaneapiclient/cfg.yaml
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
  sdk/controlplaneapiclient/generate.go
Due: golangci-lint, go-fmt, go-vet, go-mod-tidy

feat: wire openapi client to sdk
  sdk/control_plane.go
  sdk/service_account.go
  sdk/utils/types.go
Due: golangci-lint, go-fmt, go-vet

chore: update examples
  .gitignore
  usage_examples/README.md
  usage_examples/control_plane_examples.go
  usage_examples/fluent_api_examples.go
  usage_examples/main.go
  usage_examples/service_account_examples.go
Due: golangci-lint, go-fmt, go-vet

fix: run pre-commit
  .gitignore
  go.mod
  sdk/control_plane.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet, go-mod-tidy

fix: update go.mod name
  Justfile
  P0_FIXES.md
  PROGRESSIVE_API.md
  README.md
  go.mod
  integration_tests/integration_test.go
  integration_tests/testhelper_test.go
  sdk/auth.go
  sdk/builders/common.go
  sdk/builders/fluent/query.go
  sdk/builders/fluent/query_test.go
  sdk/builders/fluent/s3_builder.go
  sdk/builders/fluent/search.go
  sdk/builders/progressive/catalog.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/harbor.go
  sdk/builders/progressive/org.go
  sdk/builders/progressive/schema.go
  sdk/builders/progressive/search.go
  sdk/builders/progressive/table.go
  sdk/builders/types.go
  sdk/client.go
  sdk/client_test.go
  sdk/control_plane.go
  sdk/request.go
  sdk/service_account.go
  usage_examples/control_plane_examples.go
  usage_examples/fluent_api_examples.go
  usage_examples/progressive_api_examples.go
  usage_examples/service_account_examples.go
Due: golangci-lint, go-fmt, go-vet, go-mod-tidy

feat: add openapi client for control plane (#1)
  .gitignore
  Justfile
  P0_FIXES.md
  PROGRESSIVE_API.md
  README.md
  go.mod
  go.sum
  integration_tests/integration_test.go
  integration_tests/testhelper_test.go
  sdk/auth.go
  sdk/builders/common.go
  sdk/builders/fluent/query.go
  sdk/builders/fluent/query_test.go
  sdk/builders/fluent/s3_builder.go
  sdk/builders/fluent/search.go
  sdk/builders/progressive/catalog.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/harbor.go
  sdk/builders/progressive/org.go
  sdk/builders/progressive/schema.go
  sdk/builders/progressive/search.go
  sdk/builders/progressive/table.go
  sdk/builders/types.go
  sdk/client.go
  sdk/client_test.go
  sdk/control_plane.go
  sdk/controlplaneapiclient/cfg.yaml
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
  sdk/controlplaneapiclient/generate.go
  sdk/request.go
  sdk/service_account.go
  sdk/utils/types.go
  usage_examples/README.md
  usage_examples/control_plane_examples.go
  usage_examples/fluent_api_examples.go
  usage_examples/main.go
  usage_examples/progressive_api_examples.go
  usage_examples/service_account_examples.go
Due: golangci-lint, go-fmt, go-vet, go-mod-tidy

bump: update openapi
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

feat: update archive api
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

bump: update api to v0.12.1
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

bump: update sdk to v0.12.1
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

bump: update hyperfluid client to v0.12.2
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

feat(controlplaneclient): update to hyperfluid 0.13.2
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

bump(controlplaneclient): update openapi
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

feat(hyperfluid-sdk): update pipeline v2
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

bump(hyperfluid-sdk): update api to 0.19.1
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

feat(hyperfluid-sdk/fluent/search): add ProviderSlug in OriginalFilePayload
  sdk/builders/fluent/search.go
Due: golangci-lint, go-fmt, go-vet

feat(hyperfluid-sdk/fluent/search): add ProviderSlug in OriginalFilePayload (#2)
  sdk/builders/fluent/search.go
Due: golangci-lint, go-fmt, go-vet

add hybrid search
  sdk/builders/fluent/hybrid_search.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/hybrid_search.go
  sdk/client.go
Due: golangci-lint, go-fmt, go-vet

add hybrid search (#3)
  sdk/builders/fluent/hybrid_search.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/hybrid_search.go
  sdk/client.go
Due: golangci-lint, go-fmt, go-vet

add basic ci
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

add basic ci (#4)
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

bump: update control plane api
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

fix: update pipeline api
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

align on 1.7.0
  sdk/builders/fluent/hybrid_search.go
Due: golangci-lint, go-fmt, go-vet

mutli query param
  sdk/builders/fluent/hybrid_search.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/hybrid_search.go
Due: golangci-lint, go-fmt, go-vet

mutli query param (#23)
  sdk/builders/fluent/hybrid_search.go
  sdk/builders/progressive/datadock.go
  sdk/builders/progressive/hybrid_search.go
Due: golangci-lint, go-fmt, go-vet

chore: update sdk
  sdk/controlplaneapiclient/client.gen.go
  sdk/controlplaneapiclient/control_plane_api.openapi.json
Due: golangci-lint, go-fmt, go-vet

docs: add filesorter design
  docs/FILESORTER_PIPELINE.md
Due: none

fix: update query parameter formatting and add operator mapping for filters
  sdk/builders/fluent/query.go
  sdk/builders/progressive/table.go
Due: golangci-lint, go-fmt, go-vet

fix(bifrost): fix test
  sdk/builders/fluent/query_test.go
Due: golangci-lint, go-fmt, go-vet

fix(query): update query parameter names to use double underscores for limit and offset
  sdk/builders/fluent/query.go
  sdk/builders/fluent/query_test.go
  sdk/builders/progressive/table.go
Due: golangci-lint, go-fmt, go-vet
